html,
body {
  margin: 0 auto;
  height: 100vh;
  color: rgb(0, 0, 0);
  background-color: rgb(51, 51, 51);
  overflow: hidden;
}

.App {
  text-align: center;
  margin: 0 auto;
  height: 120vh;
  background: url(./assets/images/desk.jpg);
  background-position: left;
  background-size: cover;
  position: relative;
}
